@model IEnumerable<WebApp_Ex_3.Models.Condominio>

@{
    ViewData["Title"] = "Index";
}

<h3>Condomínios</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-info">Cadastrar Condomínio</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Condominio" class="btn btn-primary text-left">Editar</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id_Condominio" class="btn btn-secondary text-right" onclick="return confirm('Deseja excluir o registro?')">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
